body {
    display: block;
    margin: 0;
}

h1 {
    color:red;
    text-align: center;
}

#container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap
}

.box {
    width: 24%;
    height: 70px;
    margin: 0.3%;
    visibility: visible;
}

p {
    font-size: larger;
    text-align: center;

}

#pear {
    order: 1;
    background-color: rgb(250, 198, 121);
}

#watermelon {
    order: 2;
    background-color: rgb(205, 250, 121);
}

#banana {
    order: 3;
    background-color: rgb(121, 250, 127);
}

#kiwi {
    order: 4;
    background-color: rgb(250, 121, 121);
}

#orange {
    order: 5;
    background-color: rgb(121, 151, 250);
}

#grapes {
    order: 6;
    background-color: rgb(222, 250, 121);
}

#peach {
    order: 7;
    background-color: rgb(250, 121, 181);
}

#cherries {
    order: 8;
    background-color: rgb(121, 235, 250);
}

#tomato {
    order: 9;
    background-color: rgb(121, 140, 250);
}

#potato {
    order: 10;
    background-color: rgb(157, 250, 121);
}

#broccoli {
    order: 11;
    background-color: rgb(250, 121, 121);
}

#cucumber {
    order: 12;
    background-color: rgb(121, 188, 250);
}

#carrot {
    order: 13;
    background-color: rgb(125, 250, 121);
}

#onion {
    order: 14;
    background-color: rgb(250, 121, 218);
}

.meaning {
    font-size: smaller;
}